
.button1 { 
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400 ;
    padding: 12px 33px 12px 33px;
    letter-spacing: 1.4px;
    z-index: 2;
  }

  .button1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .button1:hover::before {
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .button1.color-2 {
    background-color: #0d0d0d;
    color: #fff;
  }
  .button1.color-2::before {
    background-color: #ee7b7b;
  }

  @media screen and (max-width: 600px) {
    .button1 { 
      padding: 12px ;
      font-size: 10px;
    }

  }


  